@font-face {
    font-family: 'RoboroRegular';
    src: url(../fonts/RobotoRegular.ttf);
}

@font-face {
    font-family: 'RoboroBold';
    src: url(../fonts/RoboroBold.ttf);
}

.header {
    display: grid;
    grid-template-columns: 1fr 120px 1fr 140px;
    justify-content: space-between;
    align-items: center;
    padding: 11px 14px 11px 27px;
}

.menu {
    margin-right: -18px;
    margin-left: -18px;
}

.menu a {
    font-family: "RobotoRegular", sans-serif;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    text-decoration: none;
    color: #212A2F;
    margin-right: 18px;
    margin-left: 18px;
}

.header-right {
    display: grid;
    justify-self: end;
}

.menu-right {
    justify-self: end;
    margin-right: 12px;
}

.icons {
    justify-self: end;
}

.icons img {
    margin-right: 8px;
    margin-left: 8px;
}

.main {
    display: grid;
    grid-template-rows: 1fr;
    align-items: end;
    background-image: url(../images/main.png);
    background-position: center;
    background-size: cover;
    height: 740px;
    max-width: 100%;
    max-height: 100%;
}

.main-container {
    margin-left: 54px;
}

.title_main {
    font-family: "RobotoBold", sans-serif;
    font-size: 48px;
    line-height: 63px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.subtitle {
    margin-top: 11px;
    font-family: "RobotoBold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.main_button {
    display: grid;
    justify-content: start;
    grid-column-gap: 24px;
    margin-top: 24px;
    margin-bottom: 66px;
}

.button-action {
    width: 180px;
    padding: 17px 0;
    border-radius: 2px;
    text-align: center;
    background: #FFFFFF;
}

.button-action a {
    font-family: "RobotoBold", sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #212A2F;
    text-decoration: none;
}

.button-action:first-child {
    grid-row: 1/2;
}

.button-action:last-child {
    grid-row: 1/2;
}

.favorites {
    display: grid;
    padding: 119px 102px 142px 102px;
}

.title {
    margin: 0 auto;
    font-family: "RobotoBold", sans-serif;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #212A2F;
}

.favorite-menu {
    margin-top: 32px;
    padding-bottom: 12px;
    border-bottom-width: 2px;
    border-bottom-color: #D3D4D5;
    border-bottom-style: solid;
    text-align: center;
}

.favorite-menu a {
    margin-left: 66px;
    margin-right: 66px;
    font-family: "RobotoBold", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #212A2F;
}

.item-action {
    padding-bottom: 12px;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
}

.favorite-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 396px));
    justify-content: space-between;
    margin-top: 34px;
}

.item-image {
    position: relative;
}

.favorite_button {
    position: absolute;
    top: 144px;
    left: 60px;
}

.favorite_button .button-action {
    width: 276px;
}

.favorite_button .button-action:last-child {
    margin-top: 12px;
}

.block-description {
    margin-left: 30px;
    margin-right: 30px;
}

.block-item .block-title {
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-color: #D3D4D5;
    border-bottom-style: solid;
}

.block-title {
    margin-top: 17px;
    font-family: "RobotoBold", sans-serif;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.5px;
    color: #212A2F;

}

.description {
    display: grid;
    justify-content: start;
    grid-column-gap: 12px;
    align-items: center;
    margin-top: 11px;
}

.description img {
    grid-row: 1 / 2;
}

.block-subtitle {
    grid-row: 1 / 2;
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #212A2F;
}

.block_img {
    background-image: url(../images/block_3.png);
    background-position: center;
    background-size: cover;
    height: 542px;
    max-width: 100%;
    max-height: 100%;
}

.block_text {
    padding: 52px 0 120px 0;
}

.text-title {
    margin: 54px 0 30px 0;
    font-family: "RobotoBold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #212A2F;
}

.block_text_button {
    display: grid;
    justify-content: center;
    grid-column-gap: 24px;
}

.block_text_button .button-action {
    background: #212A2F;
}

.block_text_button .button-action a {
    color: #FFFFFF;
}

.shop {
    margin: 0 102px;
    padding-bottom: 134px;
}

.shop .title {
    text-align: left;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 396px));
    justify-content: space-between;
    position: relative;
    margin-top: 24px;
}

.product_text {
    margin-left: 20px;
}

.product .block-subtitle {
    margin-top: 10px;
}

.arrow-left {
    position: absolute;
    top: 40%;
    left: -92px;
    width: 48px;
    height: 48px;
}

.arrow-right {
    position: absolute;
    top: 40%;
    right: -23px;
    width: 48px;
    height: 48px;
}

.block_img_2 {
    background-image: url(../images/block_6.png);
    background-position: center;
    background-size: cover;
    height: 545px;
    max-width: 100%;
    max-height: 100%;
}

.block_text_2 {
    display: grid;
    justify-content: center;
    padding-top: 44px;
}

.block_text_2 .text-title {
    max-width: 655px;
    margin-top: 22px;
    margin-bottom: 26px;
}

.block_text_2 .button-action {
    width: 384px;
}


.new_arrivals {
    padding-top: 119px;
    padding-bottom: 138px;
    margin: 0 102px;
}

.new_arrivals .title {
    text-align: left;
}

.block_img_3 {
    background-image: url(../images/block_9.png);
    background-position: center;
    background-size: cover;
    height: 542px;
    max-width: 100%;
    max-height: 100%;
}

.block_text_3 {
    display: grid;
    justify-content: center;
    padding-top: 52px;
    padding-bottom: 119px;
}

.block_text_3 .title{
    max-width: 665px;
}

.block_text_3 .text-title{
    max-width: 645px;
    margin-top: 16px;
    text-align: center;
}

.block_text_3 .button-action{
    width: 384px;
}

.stories{
    padding-bottom: 186px;
    margin: 0 102px;
}

.stories .title{
    text-align: left;
}